@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot') format('eot');
    src : url('../fonts/vazir.ttf') format('truetype'),
    url('../fonts/vazir.woff') format('woff'),
    url('../fonts/vazir.woff2') format('woff2');
}

body{
    padding: 0;
    margin: 0;
    direction: rtl;
    font-family: "vazir" !important;
}

*{
    box-sizing: border-box;
}

/* Header */

header{
    background-image: url(../images/234990.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

header .header-title{
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
    text-align: center;
}

header .header-title h1{
    font-size: 55px;
    color: #2a2a2a !important;
}

header nav{
    background: linear-gradient(135deg, #923740, #4d3279);
    position: relative;
    z-index: 1;
}

header nav .navbar-brand{
    color: #00ffff;
    transition: all 0.4s ease-in-out;
}

header nav .navbar-brand:hover{
    color: #00b3ff;
}

header .navbar ul li a svg{
    font-size: 18px;
}

header nav ul li a:hover{
    color: #00ffff !important;
    background-color: rgba(73, 73, 73, 0.5);
}

/* About */

#about{
    background-image: url(../images/399260.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#about .about-overlay{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Card */

#card .card-content .card-item{
    border-radius: 10px;
}

#card .card-content .card-item img{
    border-radius: 10px 10px 0 0;
}

/* Group Box */

#group{
    background-image: url(../images/399838.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

#group .group-overlay{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#group .group-content .group-item{
    cursor: pointer;
    background: linear-gradient(135deg, #923740, #4d3279);
}

#group .group-content .group-item:hover{
    background: linear-gradient(135deg, #4d3279, #923740);
}

#group .group-content .group-item a svg{
    font-size: 45px;
    color: #e1e1e1;
}

#group .group-box .group-box-item{
    background: linear-gradient(135deg, #e5ff00, #59c3f5);
    box-shadow: 0 0 10px rgba(117, 117, 117, 0.7);
    cursor: pointer;
    position: relative;
    height: 300px;
    transition: all 0.5s ease-in-out;
}

#group .group-box .group-box-item img{
    width: 250px;
    position: absolute;
    right: 30%;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

#group .group-box .group-box-item .group-box-text{
    position: absolute;
    right: 20%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}


#group .group-box .group-box-item:hover img{
    width: 200px;
    right: 2%;
}

#group .group-box .group-box-item:hover .group-box-text{
    right: 34%;
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 1400px){
    #group .group-box .group-box-item:hover img{
        width: 180px;
    }

    #group .group-box .group-box-item:hover .group-box-text{
        right: 36%;
    }
}

@media screen and (max-width: 1200px){
    #group .group-box .group-box-item img{
        right: 25%;
    }

    #group .group-box .group-box-item:hover img{
        width: 160px;
    }

    #group .group-box .group-box-item:hover .group-box-text{
        right: 39%;
    }
}

@media screen and (max-width: 991px){
    #group .group-box .group-box-item img{
        right: 30%;
    }

    #group .group-box .group-box-item:hover img{
        width: 200px;
    }

    #group .group-box .group-box-item:hover .group-box-text{
        right: 34%;
    }
}

@media screen and (max-width: 768px){
    #group .group-box .group-box-item img{
        right: 26%;
    }

    #group .group-box .group-box-item:hover img{
        width: 170px;
    }

    #group .group-box .group-box-item:hover .group-box-text{
        right: 36%;
        margin-left: 10px;
    }
}

@media screen and (max-width: 576px){
    #group .group-box .group-box-item:hover img{
        width: 154px;
    }

    #group .group-box .group-box-item:hover .group-box-text{
        right: 37%;
        margin-left: 10px;
    }
}

@media screen and (max-width: 460px){
    #group .group-box .group-box-item img{
        right: 20%;
    }

    #group .group-box .group-box-item:hover img{
        width: 130px;
    }

    #group .group-box .group-box-item:hover .group-box-text{
        right: 38%;
        margin-left: 10px;
    }
}

@media screen and (max-width: 400px){
    #group .group-box .group-box-item img{
        right: 15%;
    }

    #group .group-box .group-box-item:hover .group-box-text{
        right: 43%;
        margin-left: 10px;
    }
    
    #group .group-box .group-box-item:hover .group-box-text h3{
        font-size: 20px;
    }

    #group .group-box .group-box-item:hover .group-box-text p{
        font-size: 15px;
    }
}
